# Pandas - `DataFram`e

In [3]:
import numpy as np
import pandas as pd

Creating DataFrame manually can be tedious: 99,9% of the time you'll be pulling the data from a Database, .csv file or the web. But still, you can create a DataFrame by specifying the columns and the values:

We can think of DataFrame as a combinaiton of multipe series

In [26]:
df = pd.DataFrame({'GDP':[1785387,2833687,3874437,2167744,4602367,2950039,17348075,5921121],'Population':[35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523, 145.872],'Continent':['America','Europe','Europe','Europe','Asia','Europe','America','Asia']})

In [14]:
df

        GDP  Population
0   1785387      35.467
1   2833687      63.951
2   3874437      80.940
3   2167744      60.665
4   4602367     127.061
5   2950039      64.511
6  17348075     318.523
7   5921121     145.872

In [17]:
df.index = ['Canada','France','Germany','Italy','Japan','United Kingdom','United States','Russia']

In [18]:
df

                     GDP  Population
Canada           1785387      35.467
France           2833687      63.951
Germany          3874437      80.940
Italy            2167744      60.665
Japan            4602367     127.061
United Kingdom   2950039      64.511
United States   17348075     318.523
Russia           5921121     145.872

There are a couple of different method of DataFrame:


1.   info -> quick information about the data structure
2.   describe -> quick statistic

In [27]:
df.info

<bound method DataFrame.info of         GDP  Population Continent
0   1785387      35.467   America
1   2833687      63.951    Europe
2   3874437      80.940    Europe
3   2167744      60.665    Europe
4   4602367     127.061      Asia
5   2950039      64.511    Europe
6  17348075     318.523   America
7   5921121     145.872      Asia>

In [20]:
df.size

16

In [21]:
df.shape

(8, 2)

In [22]:
df.describe()

                GDP  Population
count  8.000000e+00    8.000000
mean   5.185357e+06  112.123750
std    5.095155e+06   91.062765
min    1.785387e+06   35.467000
25%    2.667201e+06   63.129500
50%    3.412238e+06   72.725500
75%    4.932056e+06  131.763750
max    1.734808e+07  318.523000

In [25]:
df.dtypes.value_counts()

int64      1
float64    1
dtype: int64

In [28]:
df.dtypes

GDP             int64
Population    float64
Continent      object
dtype: object