<a href="https://colab.research.google.com/github/imekss/phyton_analytics_demo/blob/main/pandas_demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas - Demo and Examples

---

In [1]:
import pandas as pd
import numpy as np

We'll start analyzing "The Group of Eight":. Which is a political formed by Canada, France, Germany, Italy, Japan,the United Kingdom, the United States,Russia. We'll start by analyzing population, and for that, we'll use a ***pandas.Series*** object.

In [2]:
g8_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523, 145.872])

In [3]:
g8_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
7    145.872
dtype: float64

The represation of the population is in millions of inhabitants. Series can have a name, to better document the purpose of the Series

In [5]:
g8_pop.name = 'G8 Population in milions'

In [4]:
g8_pop.dtype

dtype('float64')

Phyton list, similar to Panda.Series, have indexes. The two differnces are:
1.   Panda.Series'indexes are more explicit
2.   Panda.Series'indexes can be changed

In [6]:
g8_pop.index = [
                'Canada',
                'France',
                'Germany',
                'Italy',
                'Japan',
                'United Kingdom',
                'United States',
                'Russia',
]

In [7]:
g8_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Russia            145.872
Name: G8 Population in milions, dtype: float64

Alternative way to create Series and assigning name and indexes (1)

In [26]:
pd.Series({'Canada': 35.467, 'France':63.951, 'Germany': 80.940, 'Italy': 60.665, 'Japan': 127.061, 'United Kingdom': 64.511, 'United States': 318.523, 'Russia': 145.872}, name = 'G8 Population in milions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Russia            145.872
Name: G8 Population in milions, dtype: float64

Alternative way to create Series and assigning name and indexes (2)

In [32]:
pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523, 145.872], index =['Canada','France','Germany','Italy','Japan','United Kingdom','United States','Russia'], name = 'G8 Population in milions' )

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Russia            145.872
Name: G8 Population in milions, dtype: float64

You can create series out of other series

In [34]:
pd.Series(g8_pop, index =['France','Italy','Spain'])

France    63.951
Italy     60.665
Spain        NaN
Name: G8 Population in milions, dtype: float64

# Indexing

In [35]:
g8_pop['Canada']

35.467

With series you can still get the elements by the elements orders with iloc (location)

In [37]:
g8_pop.iloc[0]

35.467

In [38]:
g8_pop.iloc[-2]

318.523

Selecting multiple elements at once:

In [44]:
g8_pop[['Canada','France']]

Canada    35.467
France    63.951
Name: G8 Population in milions, dtype: float64

In [46]:
g8_pop.iloc[[0,-1]]

Canada     35.467
Russia    145.872
Name: G8 Population in milions, dtype: float64

Slincing/Range also works, but **important**, in Pandas, the upper limit is also included:

For example this is a list in phyton:
l = 'a', 'b','c'
with l[:2] the upper limit in not included (so we take only 0 and 1)
'a', 'b' will be the result

with Panda.Series, with the slicing, ***the upper is included***

In [48]:
g8_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Russia            145.872
Name: G8 Population in milions, dtype: float64

In [49]:
g8_pop['Canada' : 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G8 Population in milions, dtype: float64