# Pandas - `DataFram`e

In [1]:
import numpy as np
import pandas as pd

Creating DataFrame manually can be tedious: 99,9% of the time you'll be pulling the data from a Database, .csv file or the web. But still, you can create a DataFrame by specifying the columns and the values:

We can think of DataFrame as a combinaiton of multipe series

In [2]:
df = pd.DataFrame({'GDP':[1785387,2833687,3874437,2167744,4602367,2950039,17348075,5921121],'Population':[35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523, 145.872],'Continent':['America','Europe','Europe','Europe','Asia','Europe','America','Asia']})

In [3]:
df

        GDP  Population Continent
0   1785387      35.467   America
1   2833687      63.951    Europe
2   3874437      80.940    Europe
3   2167744      60.665    Europe
4   4602367     127.061      Asia
5   2950039      64.511    Europe
6  17348075     318.523   America
7   5921121     145.872      Asia

In [4]:
df.index = ['Canada','France','Germany','Italy','Japan','United Kingdom','United States','Russia']

In [5]:
df

                     GDP  Population Continent
Canada           1785387      35.467   America
France           2833687      63.951    Europe
Germany          3874437      80.940    Europe
Italy            2167744      60.665    Europe
Japan            4602367     127.061      Asia
United Kingdom   2950039      64.511    Europe
United States   17348075     318.523   America
Russia           5921121     145.872      Asia

There are a couple of different method of DataFrame:


1.   info -> quick information about the data structure
2.   describe -> quick statistic

In [6]:
df.info

<bound method DataFrame.info of                      GDP  Population Continent
Canada           1785387      35.467   America
France           2833687      63.951    Europe
Germany          3874437      80.940    Europe
Italy            2167744      60.665    Europe
Japan            4602367     127.061      Asia
United Kingdom   2950039      64.511    Europe
United States   17348075     318.523   America
Russia           5921121     145.872      Asia>

In [7]:
df.size

24

In [8]:
df.shape

(8, 3)

In [9]:
df.describe()

                GDP  Population
count  8.000000e+00    8.000000
mean   5.185357e+06  112.123750
std    5.095155e+06   91.062765
min    1.785387e+06   35.467000
25%    2.667201e+06   63.129500
50%    3.412238e+06   72.725500
75%    4.932056e+06  131.763750
max    1.734808e+07  318.523000

In [10]:
df.dtypes.value_counts()

int64      1
float64    1
object     1
dtype: int64

In [11]:
df.dtypes

GDP             int64
Population    float64
Continent      object
dtype: object

## Indexing, Selection and Slicing

In [28]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Russia            145.872
Name: Population, dtype: float64

Note that the index of the returened Series is the same as the DataFrame one. And its name is tha name of the column. If you are working on a notebook and want to see a more DataFrame-like form you can use the to_frame method

In [29]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523
Russia             145.872

In [30]:
df['Population'].to_frame()

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523
Russia             145.872

In [31]:
df[['Population','GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075
Russia             145.872   5921121



1.   loc let you select row by index
2.   iloc let you select row by index sequence

with loc you select the ***entire row*** example df.loc['Canada']
with df['Population'] you select the ***entire column***

In [32]:
df.loc['Canada']

GDP           1785387
Population     35.467
Continent     America
Name: Canada, dtype: object

In [33]:
df.iloc[-1]

GDP           5921121
Population    145.872
Continent        Asia
Name: Russia, dtype: object

Row level selection works better with loc and iloc **wich are recommended** over regular "direct slicing" df[:]

In [38]:
df[1:3]

             GDP  Population Continent
France   2833687      63.951    Europe
Germany  3874437      80.940    Europe

In [34]:
df['Population']

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Russia            145.872
Name: Population, dtype: float64

In [35]:
df.loc['Italy']

GDP           2167744
Population     60.665
Continent      Europe
Name: Italy, dtype: object

In [37]:
df.loc['France': 'Italy']

             GDP  Population Continent
France   2833687      63.951    Europe
Germany  3874437      80.940    Europe
Italy    2167744      60.665    Europe

As a second "argument", you can pass the column(s) you'd like to select

In [39]:
df.loc['France': 'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [41]:
df.iloc[1:3]

             GDP  Population Continent
France   2833687      63.951    Europe
Germany  3874437      80.940    Europe

In [49]:
df.iloc[1:3, 1:3]

         Population Continent
France       63.951    Europe
Germany      80.940    Europe

In [51]:
df.iloc[1:3, 2]

France     Europe
Germany    Europe
Name: Continent, dtype: object

**RECOMMENDEND: Always use iloc and loc to reduce ambiguity, specially with DataFrame's with numeric indexes**