# Pandas - `DataFram`e

In [3]:
import numpy as np
import pandas as pd

Creating DataFrame manually can be tedious: 99,9% of the time you'll be pulling the data from a Database, .csv file or the web. But still, you can create a DataFrame by specifying the columns and the values:

In [11]:
df = pd.DataFrame({'Country':['Canada','France','Germany','Italy','Japan','United Kingdom','United States','Russia'],'Population':[35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523, 145.872]})

In [12]:
df

          Country  Population
0          Canada      35.467
1          France      63.951
2         Germany      80.940
3           Italy      60.665
4           Japan     127.061
5  United Kingdom      64.511
6   United States     318.523
7          Russia     145.872